.section-home {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 140px;
  text-align: center;
  background-image: url("../public/home-bg.jpg");
  color: #fff;
  font-weight: bold;
  .content {
    width: 66.66666667%;
    h1 {
      border: 2px solid #d43f52;
      color: #d43f52;
      display: inline-block;
      letter-spacing: 6px;
      padding: 25px 35px;
      margin: 30px 0;
    }
    h2,
    h3 {
      padding: 25px 0;
    }
  }
}
.section-work {
  text-align: center;
  background-color: #1a1a1a;
  color: #ffffff;
  .content {
    gap: 30px;
    padding: 50px 0;
    .col {
      width: 33.3333333%;
      list-style: none;
      text-align: start;
      .col-title {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
      }
      .icon-work {
        border: 2px solid #ffffff;
        border-radius: 50%;
        color: #d43f52;
        font-size: 24px;
        margin-right: 24px;
        width: 60px;
        height: 60px;
        line-height: 55px;
        text-align: center;
        transition: all 0.4s ease-in;
        padding: 12px;
      }
      .col-desc {
        width: 80%;
        line-height: 1.5;
      }
    }
  }
}
